footer {
  height: 100px;
  margin-top: 50px;
  padding-bottom: 60px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
}

footer p {
  position: relative;
  top: 10px;
  text-align: center;
  color: white;
}
