.nav-bar {
    z-index: 5;
    width: 100%;
    background-color: rgba(20, 88, 236, 0.8);
    font-weight: 700;
}

.nav-bar-container {
    padding-left: 50px;;
}

.search-results {
    position: absolute;
    top: 100%;
    right: 0; 
    z-index: 999;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 0.5rem;
    margin-right: 2rem;
  }

.nav-logo{
    width: 50px;
    margin-left: 50px;
}

.nav-search-bar {
    margin-right: 50px;
}