.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  .table th,
  .table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
  }
  
  .table th {
    background-color: #3971ff;
    color: white;
  }
  
  .table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .table tr:hover {
    background-color: #ddd;
  }
  
  .table td:last-child {
    text-align: right;
  }